services:
  - type: web
    name: cmr-placement-backend
    runtime: node
    plan: free
    buildCommand: "cd backend && npm install"
    startCommand: "cd backend && npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000

  - type: web
    name: cmr-placement-frontend
    runtime: static
    plan: free
    buildCommand: "cd frontend && npm install && npm run build"
    staticPublishPath: frontend/build
